* {
  padding: 5px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.h1-text {
  text-align: center;
  font-size: 65px;
  text-shadow: 4px 2px black;
  color: rgba(0, 80, 200, 0.8);
}
.image-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.list-align {
  padding-left: 50px;
}

.body-align {
  background-color: rgba(0, 52, 129, 0.8);
  margin: 0 auto;
  width: 650px;
}

.div-align {
  background-color: orange;
  width: 650px;
  border: 5px solid black;
  margin-top: -10px;
}
