.flex-container {
  display: flex;
  background-color: rgb(216, 218, 61);
  padding: 20px 10px;
  margin: 0px auto;
  width: 550px;
  height: 500px;
}

.ul-align {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: start;
  padding: 10px 15px 10px 10px;
  width: 300px;
}
.ul-align > a {
  background-color: white;
  border-right: 20px solid black;
  padding: 5px;
  margin-top: 10px;
  color: blue;
  text-decoration-line: none;
}

.font-right {
  color: rgb(128, 0, 128);
  font-weight: 500;
}

.font-head {
  font-size: 30px;
  font-weight: 700;
}

.dotted {
  border: 1px dotted purple;
}
