.text-size {
  font-size: 25px;
  font-weight: 800;
}

.ul-align {
  font-size: 15px;
  background-color: yellow;
  padding: 13px;
  text-align: center;
}
.li-align {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  margin: 0px 10px 0px 20px;
  text-decoration-line: underline;
  text-decoration-color: blue;
}
